#voting-booth-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-items: center;
  padding-top: 50px;
  width: calc(100vw - 20px);
  max-width: 500px;
  margin: auto;
}
label {
  font-size: 2em;
}
